* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 0;
}
body {
    background-color: #fff;
    color: #555E6A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
p,h1,h2,h3,h4,h5,div,a,span,li {
    font-size: initial;
    color: inherit;
}
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}
/* 非移动端header */
.pc-header {
    height: 130px;
}
header > .container:first-child {
    border-bottom: 1px solid #dde2e8;
}
.nav-up {
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    
}
.nav-up .left {
    align-self: center;
}
.nav-up .logo {
    display: inline-block;
    width: 211px;
    height: 35px;
    text-indent: -999px;
    background-image: url(../imgs/logo.svg);
}
.nav-up .right {
    position: relative;
    margin-left: 20px;
    height: 80px;
    font-size: 0;
}
.nav-up .menu1 {
    display: inline-block;
    vertical-align: middle;
}
.nav-up li {
    font-size: 16px !important;
    display: inline-block;
    margin: 30px 20px 0;
    border-bottom: 3px solid transparent;
    padding-bottom: 25px;
    transition: all 0.3s ease;
}
.nav-up .menu1 li:nth-child(1) {
    color: #2057AC;
    border-color: #2057AC;
}
.nav-up .menu1 li:hover {
    border-color: #2057AC;
    color: #2057AC;
}
header .btn {
    display: inline-block;
    border: 1px solid #dde2e8;
    border-radius: 20px;
    line-height: 0;
    vertical-align: middle;
    text-align: center;  
}
.nav-up .btn-search {
    padding: 8px 17px;
    margin: 0 20px;
    transition: all 0.3s;
}
header .btn-search::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(http://www.4001961200.com/themes/szrcb/images/svg-sprite/svg/sprite-2018020800.svg) -2378px -1px;
}
header .btn-search:hover {
    border-color: #f00;
}
.nav-up .btn-login {
    padding: 8px 22px;
    margin: 0 20px;
    transition: all 0.3s;
}
.btn-login svg {
    vertical-align: middle;
}
.btn-login span {
    font-size: 14px;
}
.btn-login:hover {
    background-color: #2057AC;
}
.btn-login:hover svg g path.nav-ebank-color {
    fill: #fff;
}
.btn-login:hover span {
    color: #fff;
}
.btn-login:hover + .tooltip {
    display: block;
}
.tooltip {
    display: none;
    position: absolute;
    width: 252px;
    right: -50px;
    top: 50px;
    z-index: 99;
}
.tooltip:hover{
    display: block;
}
.tooltip .angle {
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: #ccc;
    position: relative;
    left: 112px;
}
.tooltip .angle::before {
    content: '';
    position: absolute;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    left: -15px;
    top: -14px
    
}
.tooltip .container {
    border: 1px solid #ccc;
    background-color: #fff;
}
.tooltip ul {
    margin-bottom: 10px;
}
.tooltip li {
    margin: 10px 0;
    padding: 10px 60px 10px 40px;
}
.tooltip li:hover {
    background-color: #f6f9fc;
}
.tooltip li a {
    font-size: 14px
}
.tooltip li a:hover {
    color: #337ab7;
}
.tooltip li:nth-of-type(1) a:before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 42px;
    background: url(http://www.4001961200.com/themes/szrcb/images/svg-sprite/svg/sprite-2018020800.svg) -1768px -5px;
    vertical-align: middle;
    margin-right: 20px;
}
.tooltip li:nth-of-type(2) a:before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 42px;
    background: url(http://www.4001961200.com/themes/szrcb/images/svg-sprite/svg/sprite-2018020800.svg) -1668px -5px;
    vertical-align: middle;
    margin-right: 20px;
}
.nav-down {
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.nav-down li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
}
.nav-down .for-geren {
    position: relative;
}
/* 移动端header */
.mobile-header {
    display: none;
}
.mobile-header .mobile-nav {
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.mobile-header .logo {
    text-indent: -999px;
    width: 36px;
    height: 36px;
    background: url(../imgs/icon-logo.svg) no-repeat;
    background-size: cover;
}
.mobile-header .btn-search {
    padding: 8px;
    border-color: transparent;
    transition: all 0.3s;
}
.banner .for-pc {
    display: block;
    width: 100%;
}
.banner .for-mobile {
    display: none;
}
section:nth-of-type(2) {
    padding: 0 15px;
}
.list {
    width: 1140px;
    margin: 50px auto;
}
path:hover {
    animation: anim 1s linear forwards;
}
.feature {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.feature svg {
    transition: all 0.3s;
}
.feature li h3 {
    margin-top: 20px;
}
.feature li p {
    font-size: 14px;
    color: #a9aeb4;
    margin-top: 10px;
}
.article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article li {
    position: relative;
    display: flex;
    width: calc(1100px / 3);
    height: 275px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.article li:nth-of-type(1) {
    background: url(../imgs/保险图片.jpg) no-repeat center;
    background-size: 135%;
}
.article li:nth-of-type(2) {
    background: url(../imgs/讲堂图片.jpg) no-repeat center;
    background-size: 135%;
}
.article li:nth-of-type(3) {
    background: url(../imgs/慈善基金.jpg) no-repeat center;
    background-size: 135%;
}
.article li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.article li span {
    font-size: 14px;
    color: #fffc;
}
.article li div > span::before {
   content: '';
   display: inline-block;
   width: 24px;
   height: 24px;
   background-image: url(../imgs/12.svg);
   vertical-align: middle;
}
.article li .btn-more {
    background-color: rgba(51, 51, 51, .5);
    border-radius: 10px;
    padding: 2px 12px;
    transition: all 0.3s;
    z-index: 1;
}
.article li .btn-more:hover {
    background-color: rgba(51, 51, 51, .8);
}
.article li .btn-more span{
    font-size: 12px;
    color: #a9aeb4;
}
.article li p {
    font-size: 20px;
    color: #fffc;
    z-index: 1;
    transition: all 0.3s;
}
.article li:hover {
    transform: translateY(-10px);
    background-size: 150%;
    cursor: pointer;
}
.article li:hover p {
    color: #fff;
}
.full-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(8, 8, 8, 0.5);
}
.product {
    width: 1140px;
    margin: 0 auto;
    font-family: "PingFang SC";
}
.pro-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
}
.pro-menu ul::after {
    content: '';
    position: absolute;
    left: 254px;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: #2057AC;
}
.pro-menu li {
    margin: 0 20px;
    font-size: 14px;
    padding: 10px 0;
}
.pro-menu li::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(http://www.4001961200.com/themes/szrcb/images/svg-sprite/svg/sprite-2018020800.svg);
    background-position-y: -1px;
    vertical-align: middle;
    margin-right: 5px;
}
.pro-menu li:nth-of-type(1)::before { 
    background-position-x: -2002px;
}
.pro-menu li:nth-of-type(2)::before,
.pro-menu li:nth-of-type(3)::before { 
    background-position-x: -1222px;
}
.pro-menu li:nth-of-type(4)::before { 
    background-position-x: -2528px;
}
.pro-menu li:nth-of-type(5)::before { 
    background-position-x: -1374px;
}
.pro-menu li:nth-of-type(6)::before { 
    background-position-x: -942px;
}
.pro-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pro-list li {
    width: 268px;
    height: 418px;
    border: 1px solid rgb(221, 226, 232);
    box-shadow: 0 10px 20px 0 rgba(85,94,106,0.1); 
    padding: 20px 18px;
    transition: all 0.3s;
}
.pro-list li:hover {
    transform: translateY(-10px);
    border-color: #2057AC;
}
.pro-list li > p:first-child::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(http://www.4001961200.com/themes/szrcb/images/svg-sprite/svg/sprite-2018020800.svg) -2106px -1px;
    vertical-align: middle;
    margin-right: 10px;
}
.pro-list li .title {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}
.pro-list .title > p:nth-of-type(1) {
    font-size: 18px;
}
.pro-list .title > p:nth-of-type(2) {
    font-size: 14px;
    color: #a9aeb4;
}
.pro-list .info {
    background-color: #f6f9fc;
    margin: 0 -18px;
}
.pro-list .info > p:nth-of-type(1) {

    font-size: 34px;
    color: #2057AC;
    font-weight: 300;
    padding: 20px 18px 10px;
}
.pro-list .info > p:nth-of-type(2) {
    padding: 0 18px;
    color: #a9aeb4;
    font-size: 14px;
    padding-bottom: 10px;
}
.pro-list .detail {
    margin: 40px 0;
    display: flex;
}
.pro-list .detail p {
    font-size: 14px;
    flex: 1;
    color: #a9aeb4;
}
.pro-list .detail span {
    font-size: 24px;
    font-weight: 300;
    color: #a9aeb4;
}
.pro-list .btn-check {
    display: block;
    transition: all 0.3s;
}
.pro-list .btn-check:hover {
    color: #2057AC;
    padding-left: 10px;
}
.pro-list .btn-check:hover::after {
    opacity: 1;
}
.pro-list .btn-check::after {
    opacity: 0;
    transition: all 0.3s;
}
.product > p:last-child {
    color: #2057AC;
    margin-top: 20px;
    transition: all 0.3s;
}
.product > p:last-child:hover {
    padding-left: 10px;
    color: #f00;
}
.product > p:last-child:hover::after {
    background: url(http://www.4001961200.com/themes/szrcb/images/svg-sprite/svg/sprite-2018020800.svg) -1615px -1px;
    transition: all 0.3s;
}
.arrow::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../imgs/icon-more-link-bule.svg);
    vertical-align: top;
}
@media screen and (max-width: 1199px) and (min-width:992px) {
    .nav-up,
    .list,
    .product {
        width: 940px;
    }
    .article li {
        width: calc(900px / 3);
        height: 225px;
    }
    .pro-list li {
        width: 218px;
    }
}
@media screen and (max-width: 991px) and (min-width:768px) {
    .nav-up,
    .list,
    .product {
        width: 720px;
    }
    .feature p {
        display: none;
    }
    .article li {
        width: 720px;
        height: 403px;
        margin-bottom: 20px;
    }
    .article li:hover {
        transform: translateY(0);
    }
    .pro-list li {
        width: 348px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {
    .pc-header {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    .banner .for-mobile {
        display: block;
        width: 100%;
    }
    .banner .for-pc {
        display: none;
    }
    .list,
    .product {
        width: 100%;
    }
    .feature p {
        display: none;
    }
    .article li {
        width: 100%;
        height: 50vw;
        margin-bottom: 20px;
        background-size: 110px ;
    }
    .article li:hover {
        transform: translateY(0);
    }
    .pro-list li {
        width: 100%;
        margin-bottom: 20px;
    }
    .pro-menu li {
        margin: 5px;
    }
}